:root{
    --primary: #57375D;
    --secondary: #ff642f;
    --secondary-light: #ffb399;
    --background-elements: rgb(255 100 47 / 52%);
    --danger-color: rgb(207, 0, 15);
    --headlines: #000;
    --white: #ffffff;
    --for-search-list: 2;
    --for-header: 3;
    --for-profile: 4;
}